.homeSection {
  position: absolute;
  border: 2px solid blue;
  width: 100%;
  top: 74px;
  color: white;
  height: 89vh;
  display: flex;
}
.icons {
  border: 2px solid red;
  width: 5%;
}
.nameSection {
  border: 2px solid red;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-family: sans-serif;
  font-weight: 900;
}
.chetan {
  background-color: rgba(0, 0, 0, 0.786);
  padding: 30px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
}
.front {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}
